{% extends 'main.html' %}
{% block content %}
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.category.label }} {{ form.category }}
                <br>
                <br>
                {% if form.category.errors %}
                <div class='error'>
                    {% for error in form.category.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                <br>
                {{ form.submit }}
            </form>
    </div>
{% endblock content %}