<body>
    <h1>Add a new category:</h1>
    <p>
        <div class='form'>
            <form method='POST' action=''>
                <!-- hidden_tag() is required for form validation -->
                {{ form.hidden_tag() }}
                <!-- Each field displays its label followed by the input field itself -->
                {{ form.title.label }} {{ form.title}}
                <br>
                <!-- form.submit is a button -->
                {{ form.submit }}
                <br>
            </form>
        </div>
    </p>
</body>