<body>
    <h1>Buy Truffle {{ get_truffles.title }}:</h1>
    <p>
        <div class='form'>
            <form method='POST' action=''>
                <!-- hidden_tag() is required for form validation -->
                {{ form.hidden_tag() }}
                <!-- Each field displays its label followed by the input field itself -->
                {%  for t in get_truffles %}
                {{ t.user_id.label }} {{ t.user_id }}
                {{ t.truffle_id.label }} {{ t.truffle_id }}
                {% endfor %}
                {{ form.quantity.label }} {{ form.quantity }}
                subtotal = {{ subtotal }}
                <br>
                <!-- form.submit is a button -->
                {{ form.submit }}
                <br>
            </form>
        </div>
    </p>
</body>