<body>
    <h1>Add a new order:</h1>
    <p>
        <div class='form'>
            <form method='POST' action=''>
                <!-- hidden_tag() is required for form validation -->
                <br>                
                <!--{{ form.hidden_tag() }}-->
                <!-- Each field displays its label followed by the input field itself -->
                {% for user in users %}
                {{ form.user_id.label }} {{ form.user }}
                {{ form.order_date.label }} {{ form.order_date }}
                <br>
                <!-- form.submit is a button -->
                {{ form.submit }}
                <br>
            </form>
        </div>
    </p>
</body>