{% extends 'main.html' %}
{% block todo %}
        <div class='form'>
            <form method='POST' action=''>
                <h2>Buy {{ truffle.title }}</h2>
                <!-- hidden_tag() is required for form validation -->
                {{ form.hidden_tag() }}
                <!-- Each field displays its label followed by the input field itself -->
                {{ form.quantity.label }} {{ form.quantity }}
                <br>
                <br>
                SubTotal:  truffle.unit_price * form.quantity  
                <br>
                <!-- form.submit is a button -->
                {{ form.submit }}
                <br>
            </form>
{% endblock todo %}