<body>
    <h1>Add a new user:</h1>
    <p>
        <div class='form'>
            <form method='POST' action=''>
                <!-- hidden_tag() is required for form validation -->
                {{ form.hidden_tag() }}
                <!-- Each field displays its label followed by the input field itself -->
                {{ form.forename.label }} {{ form.forename }}
                <br>
                {{ form.surname.label }} {{ form.surname }}
                <br>
                {{ form.email.label }} {{ form.email }}
                <br>
                {{ form.username.label }} {{ form.username }}
                <br>
                {% if form.username.errors %}
                {% endif %}
                <br>
                {{ form.password.label }} {{ form.password }}
                <br>
                {{ form.phone.label }} {{ form.phone }}
                <br>
                {{ form.address.label }} {{ form.address }}
                <br>
                {{ form.dob.label }} {{ form.dob }}
                <!-- form.submit is a button -->
                <br>
                {{ form.submit }}
            </form>
        </div>
    </p>
</body>