{% extends 'main.html' %}
{% block todo %}
    <h3>All Truffles :</h3>
    <p>
    {% for truffle in all_truffles %}
        {{ truffle.title }} <br>
        Description : {{ truffle.truffle_description }} <br>
        <br>
        <span><a href="{{ url_for('dd_order_T', title=truffle.title) }}">Add</a></span>
        <span><a href="{{ url_for('update', title=truffle.title) }}">Update</a></span> 
        <span><a href="{{ url_for('delete', title=truffle.title) }}">Delete</a></span> 
        <br>
        <br>
    {% endfor %}
    </p>
{% endblock todo %}