{% extends 'main.html' %}
{% block content %}
    <h3>All Truffles :</h3>
    {% for truffle in all_truffles %}
        Category: {{ truffle.order_truffle.category }}<br>
        {{ truffle.title }} <br>
        Description : {{ truffle.truffle_description }}<br>
            <span><a href="{{ url_for('update', title=truffle.title) }}">Update</a></span> 
            <span><a href="{{ url_for('delete', title=truffle.title) }}">Delete</a></span> 
            <br>
            <br>
        {% endfor %}
{% endblock content %}