{% extends 'main.html' %}
{% block content %}
<h3>Update Truffle:</h3>
<div class='form'>
    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        {{ form.title.label }} {{ form.title }}
        <br>
        {% if form.title.errors %}
        <div class='error'>
            {% for error in form.title.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        Description: {{ form.truffle_description }}
        <br>
        {% if form.truffle_description.errors %}
        <div class='error'>
            {% for error in form.description.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.category.label }} {{ form.category }}
        <br><br>
        {{ form.unit_price.label }} {{ form.unit_price }}
        <br>
        {% if form.unit_price.errors %}
        <div class='error'>
            {% for error in form.unit_price.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.in_stock.label }} {{ form.in_stock }}
        <br>
        {% if form.in_stock.errors %}
        <div class='error'>
            {% for error in form.in_stock.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.submit }}
    </form>
</div>
{% endblock content %}